<h1>Create a new worksheet</h1>

<p>
  Before you can start creating transactions, you need to create a worksheet
  for the T accounts. Give it a name and describe the scenario you're working
  through. Don't worry, you can always change them later.
</p>

<%= render :partial => 'form', :locals => { :worksheet => @worksheet } %>
