<section id="transactions">
  <h2>Transactions</h2>

  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Date</th>
        <th>Description</th>
        <th class="currency">Amount</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= render :partial => transactions %>
    </tbody>
  </table>
</section>
