<section id="transactions">
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Date</th>
        <th>Description</th>
        <th class="currency">Amount</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= render transactions %>
    </tbody>
  </table>
</section>
