<section id="transactions">
  <%= paginate transactions %>
  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th class="currency">Amount</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= render transactions %>
    </tbody>
  </table>
</section>
